.formInput {
  width: 100%;
  height: 32px;
  margin: 4px 0px 4px 0px;
  border: none;
  border-radius: 20px;
  padding-left: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.formInput::placeholder {
  color: rgba(207, 207, 207, 0.966);
}

.formInput:focus {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  transition: background-color 0.5s ease;
}
